.add-detail-container{
    width: 100%;
    background-color: rgb(240, 240, 245);
    transition : right 0.3s;
}

.add-detail-container .add-detail-wrapeer{
    width: 100%;
    left: 0;
    top: 0;
    height: 80vh;
}

.add-detail-container .add-detail-wrapeer .detail-area{
    margin-top: 10px;
    height: 80%;
    background-color: white;
}

.add-detail-container .add-detail-wrapeer .detail-area .pTxtDetail{
    display: inline-block;
    font-size: 15px;
}

.add-detail-container .add-detail-wrapeer .detail-area .pTxtDetail .cursor{
    display: inline-block;
    width: 2px;
    height: 1em;
    vertical-align: -.2em;
    animation: cursor linear .8s infinite;
    background: blue;
}

@keyframes cursor {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.add-detail-container .add-detail-wrapeer .keypad-wrapper{
    /* height: 50%; */
    background-color: rgb(51, 51, 51);
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 253px;
    left: 0;
}

.add-detail-container .add-detail-wrapeer .keypad-wrapper button{
    outline: 0;
    border : 0;
    margin : 0;
    border-radius: 7px;
    width: 100%;
    color: white;
    background-color: rgb(177, 177, 177);
}

.add-detail-container .add-detail-wrapeer .keypad-wrapper .hide-container{
    padding: 5px;
}

.add-detail-container .add-detail-wrapeer .keypad-wrapper .keyPadcontainer{
    display: table;
    width: 100%;
}

.add-detail-container .add-detail-wrapeer .keypad-wrapper .num-container{
    /* height: 100%; */
    width: 80%;
    float: left;
    /* box-sizing: content-box; */
    display: table-cell;
}

.add-detail-container .add-detail-wrapeer .keypad-wrapper .unit-container{
    width: 20%;
    float: right;
    display: table-cell;
    box-sizing: border-box;
    padding-right: 8px;
}

.add-detail-container .add-detail-wrapeer .keypad-wrapper .hide-container .row{
    /* height: 100%; */
    margin: 0 auto;
    /* padding: 1px 8px; */
    display: inline-block;
    width: 100%;
    /* padding: 1px 6px; */
    box-sizing: border-box;
}

.add-detail-container .add-detail-wrapeer .keypad-wrapper .hide-container .row .col{
    vertical-align: middle;
    padding: 0px 2px;
}

.add-detail-container .add-detail-wrapeer .keypad-wrapper .hide-container .row .col .hide-button{
    height: 65%;
    font-weight: bold;
    font-size: 17px;
}

.add-detail-container .add-detail-wrapeer .keypad-wrapper .num-container .row{
    width: 100%;
    padding: 0px 6px;
    box-sizing: border-box;
    display:table
}

.add-detail-container .add-detail-wrapeer .keypad-wrapper .num-container .row .col{
    display: table-cell;
    /* height: 100%; */
    width: 33.33%;
    padding: 1px 2px;
    vertical-align: middle;
}

.add-detail-container .add-detail-wrapeer .keypad-wrapper .num-container .row .col .num-button{
    /* height: 96%; */
    font-size: 20px;
    padding: 14px 0;
}

.add-detail-container .add-detail-wrapeer .keypad-wrapper .num-container .row .col .num-button.hangle{
    /* font-size: 17px; */
}

.add-detail-container .add-detail-wrapeer .keypad-wrapper .unit-container .row{
    width: 100%;
}

.add-detail-container .add-detail-wrapeer .keypad-wrapper .unit-container .col {
  
}

.add-detail-container .add-detail-wrapeer .keypad-wrapper .unit-container .col ul{
    display: flex;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
    overflow-y: auto;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 212px;
    color: white;
    font-size: 15px;
    background-color: rgb(177, 177, 177);
    border-radius: 7px;
}

.add-detail-container .add-detail-wrapeer .keypad-wrapper .unit-container .col ul li::before{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    content: "";
}

.add-detail-container .add-detail-wrapeer .keypad-wrapper .unit-container .col ul li{
    flex: 1;
    min-height: 30px;
    text-align: center;
    padding: 0px 2px;
}
